.pwContainer {
    position:absolute;
    display: flex;
 
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url("../images/backgroundIMG.jpg");
     flex-direction: column-reverse;
     align-items: center;
     object-fit: contain;
     aspect-ratio: auto;
    
}

.pwBoxWrap {
    position: absolute;
    padding: 30px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    display: block;
    width: 30rem;
    height: 30rem;
    background-color: white;
    box-shadow: 4px 3px 5px 3px rgba(128, 128, 128, 0.39);
    border-radius: 4px;
}

.innerContainer{
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    border: none;
 
}
.inputinfoWrap  {
    display: inline-block;
    width: 100%;
    height: 29px;
    border: none;
    margin: 3%;
}

.checkNumberBox {
    display: inline-flex;
    width: 100%;
    height: 29px;
}

.emailBox {
    display: inline-flex;
    width: 100%;
    height: 29px;
}

.inputId {
    width: 93%;
    height: 29px;
}

.inputEmail{
    display: block;
    width: 73%;
    height: 29px;
}

.sendbtn{
    display: block;
    width: 20%;
    height: 34.3px;
    font-size: 12px;
    cursor: pointer;
}
.checkNumberbtn{
    display: block;
    width: 20%;
    height: 34.3px;
    font-size: 12px;
    cursor: pointer;
}

.inputCheckNumber {
    display: block;
    width: 73%;
    height: 29px;
}

.inputId::placeholder{
    color: #c4c1c1;
}

.inputEmail::placeholder{
    color:#c4c1c1;
}

.inputCheckNumber::placeholder {
    color:#c4c1c1;
}

.confirmBtn {
    margin-top: 30px;
    width: 95%;
    height: 35px;
    background-color: black;
    cursor: pointer;
    color: #fff;
}

.Texts {
    cursor:default;
}