.fullContainer{
    display: block;
}

.HomeImageContainer{
   display: block;
   background-color: black;
    width: 100%;
    height: auto;
    display: block;
    z-index: 10;
   
}

.title_homeimg {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 10;
    color: #fff;
    font-size: 80px;
    margin: 60px;
    top: 130px;
    cursor: default;
    overflow: hidden;
}

.TextAreaWrap{
    position: absolute;
    width: 60rem;
    height: 10rem;
    top:7rem;
    left: 50%;
    transform: translate(-50%);
    cursor: default;
    font-size: 25px;
    
    color: #fff;
    align-items: center;
    
    
}


.innerText_homeimg{   
    position: absolute;
  
    left: 60px;
    top: 300px;
 cursor: default;
    z-index: 10;
    color: #fff;
    font-size: 40px;
overflow: hidden;
}

.homeimg {
    
    width: 100%;
    height: 100%;

    
}


.box1{
   
    background-color: rgb(32, 17, 253);
}

.box2{
    
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    z-index: 10;
}

.blind{
    display: block;
    position: absolute;
  
    width: 100%;
    height: 10rem;
    background-color: rgb(0, 0, 0);
    z-index: 20;
    background-repeat: no-repeat;
}



.plancard{
    display: block;
    position: absolute;
    margin-top: 30px;
    width: 100%;
    height: 30rem;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 20;
    align-items: center;
    background-repeat: no-repeat;
}

.img3{
   
    height: 50rem;
    width: auto;
    background: linear-gradient(90deg, #4f33ec 0%, #5f57d6 100%);
    z-index: 1;
}

.EXtext{
    display: block;
    position: absolute;
    margin: 30px;
    width: 50%;
    height: 20%;
    font-size: xx-large;
    color: #ffffff8f;
  
    z-index: 20;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
  
}

.imageContainer{
    display:inline-block;
    background-color: #fff;
  
    padding: 1rem;
    width: auto;
    height: auto;
}
.imageCard {
    display:inline-block;
    padding: 1rem;
    width: auto;
    height: auto;
    margin: 1rem;
  
    box-shadow: 3px 3px 5px 3px rgba(128, 128, 128, 0.377);
    border-radius: 4px;
}
.imgText {
    display: block;
    
}
.sampleimg1{
    display: inline-block;
    border-radius: 4px;
    width: auto;
    height: auto;
    
}
.sampleimg2{
    display: inline-block;
    border-radius: 4px;
    width: auto;
    height: 100%;
    
}
.sampleimg3{
    display: inline-block;
    border-radius: 4px;
    width:auto;
    height: 100%;
    
}
.sampleimg4{
    display: inline-block;
    border-radius: 4px;
    width:auto;
    height: auto;
    max-width: 20rem;
    max-height: 20rem;
    
}