.fullContainer{
    display: block;

}

.HomeImageContainer{
   display: block;
   position: absolute;
   background-color: rgb(12, 7, 0);
    width: 100%;
    height: 100%;
    z-index: 3;
    
}

.backgoundIMGContainer{
width: 100%;
height: auto;
display: block;
padding: 0;
margin: 0;
position:absolute;
transform: translateY(-32rem);
z-index: 4;
}

.vector{
    width: 100%;
    height: 100%;
    position:absolute;
    transform: translateY(-7.3rem);
    z-index: 22;
  
}

.title_homeimg {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 10;
    color: #fff;
    font-size: 80px;
    margin: 60px;
    top: 130px;
    cursor: default;
    overflow: hidden;
}

.TextAreaWrap{
    position: absolute;
    width: 60rem;
    height: 10rem;
    top:7rem;
    left: 50%;
    transform: translate(-50%);
    cursor: default;
    font-size: 25px;
    z-index: 20;
    color: #fff;
    align-items: center;
    
    
}


.innerText_homeimg{   
    position: absolute;
    left: 60px;
    top: 300px;
 cursor: default;
    z-index: 10;
    color: #fff;
    font-size: 40px;
overflow: hidden;
}

.homeimg {
    
    width: 100%;
    height: 100%;

    
}

.blind{
    position:absolute;
    display: flex;
    top:100%;
    width: 100%;
    height: 100%;
    z-index: 4;
    object-position: center;
    perspective: 1000px;
   
}


.groundImg{
    position:absolute;
    width: 100%;
    height: 100%;
    object-position: center;
   
}

.camera{
    position: absolute;
    width: 30%;
    height: 40%;
    left: 40%;
    bottom: 35%;
    transform: rotateZ(40deg) translate(-50%, 50%);
    z-index: 4;

}

.sticker{
    position: absolute;
    width: 2.5rem;
    height: 8rem;
    background: linear-gradient(to right, #4e4902d2 0%, rgba(255, 255, 0, 0.842) 100% );
    z-index: 5;
    left: 34%;
    bottom: 78%;
    transform: rotateZ(80deg) translate(-50%, 50%);
  

}

.sticker2{
    position: absolute;
    width: 2.5rem;
    height: 8rem;
    background: linear-gradient(to right, #817903d2 0%, rgba(255, 255, 0, 0.808) 100% );
    z-index: 5;
    left: 34%;
    bottom: 20%;
    transform: rotateZ(260deg) translate(-50%, 50%);
}

.explainText {
    position: absolute;
    width: 20rem;
    height: 15rem;
    padding: 10px;
    padding-left: 15px;
    
    color:#f8f2e0d0;
    font-size: 20px;
    background:linear-gradient(to bottom, #817903d2 0%, rgba(219, 219, 5, 0.808) 100% );
    left: 70%;
    bottom: 75%;
    transform: translate(-50%, 50%);
    z-index: 5;
    font-family: "Comfortaa";
}

.lightBox{
    position: absolute;
    width: 100%;
    height: 0;
    left: 50%;
    bottom: 65%;
    transform: translate(-50%, 50%);
    border-radius: 4px;
    
    background-color:rgba(255, 255, 255, 0);
    box-shadow: 0px 200px 900rem 200px rgba(252, 233, 172, 0.473);
    z-index: 3;
}

.slider2 {
    position: relative;
    width: 1200px; 
    height: 17rem;
    margin: auto;
    display: grid;
    place-items: center;
    z-index: 6;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 2px 50px 100px 5px rgb(3, 3, 3);
    transform: translateZ(50px);
}


.slider-track2{
    display: flex;
    width: calc(250px*10);
    animation: scroll 20s linear infinite;
    z-index: 10;
    
}

.slider-track2:hover{
    animation-play-state: paused;
   
}

.slide2{
    
    width: 250px;
    height: 200px;
    align-items: center;
    padding: 15px;
    perspective: 200px;
    
}



@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250.60px*5));
    }
}



.homeSlideImg2{
    
    width: 100%;
    height: 100%;
    transition: transform 1%;
    z-index: 31;
}

.homeSlideImg2:hover {
    transform: translateZ(20px);
    transition: 0.5s;

}


.slider-track2::before,
.slider-track2::after {
    background-color: linear-gradient(to right, #fffdfd 0%, rgb(196, 195, 199) 100% );
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    
}

.slider-track2::before {
    left: 0;
    top:0;
}

.slider-track2::after{
    right: 0;
    top:0;
    transform: translateZ(180deg);
}


