.fullContainer{
    display: block;

}

.HomeImageContainer{
   display: block;
   position: absolute;
   background-color: rgb(12, 7, 0);
    width: 100%;
    height: 100%;
    z-index: 3;
    
}

.backgoundIMGContainer{
width: 100%;
height: auto;
display: block;
padding: 0;
margin: 0;
position:absolute;
transform: translateY(-32rem);
z-index: 4;
}

.vector{
    width: 100%;
    height: 100%;
    position:absolute;
    transform: translateY(-7.3rem);
    z-index: 22;
  
}

.title_homeimg {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 10;
    color: #fff;
    font-size: 80px;
    margin: 60px;
    top: 130px;
    cursor: default;
    overflow: hidden;
}

.TextAreaWrap{
    position: absolute;
    width: 60rem;
    height: 10rem;
    top:7rem;
    left: 50%;
    transform: translate(-50%);
    cursor: default;
    font-size: 25px;
    z-index: 20;
    color: #fff;
    align-items: center;
    
    
}


.innerText_homeimg{   
    position: absolute;
  
    left: 60px;
    top: 300px;
 cursor: default;
    z-index: 10;
    color: #fff;
    font-size: 40px;
overflow: hidden;
}

.homeimg {
    
    width: 100%;
    height: 100%;

    
}

.blind{
    position:absolute;
    display: flexbox;
    top:100%;
    width: 100%;
    height: 130%;
    background:  vertical-gradient(180deg, #4f33ec 100%, #000000 0%);
    z-index: 66;
    object-position: center;
    perspective-origin: center;

}


.groundImg{
    position:absolute;
    width: 100%;
    height: 100%;
   
   
}


.box1 {
    display: block;
    width: 100%;
    height: 100%;
    background-color: red;
    position:absolute;
    top: 100%;
    z-index: -1;
}




.imageCardfullContainer{
    display: block;
    width: 100%;
    height: 100%;
    
}

.imageContainer{
    display:inline-block;
    background-color: #fff;
    padding: 1rem;
    width: auto;
    height: auto;
}
.imageCard {
    display:inline-block;
    padding: 1rem;
    width: auto;
    height: auto;
    margin: 1rem;
  
    box-shadow: 3px 3px 5px 3px rgba(128, 128, 128, 0.377);
    border-radius: 4px;
}
.imgText {
    display: block;
    
}
.sampleimg1{
    display: inline-block;
    border-radius: 4px;
    width: auto;
    height: auto;
    
}
.sampleimg2{
    display: inline-block;
    border-radius: 4px;
    width: auto;
    height: 100%;
    
}
.sampleimg3{
    display: inline-block;
    border-radius: 4px;
    width:auto;
    height: 100%;
    
}
.sampleimg4{
    display: inline-block;
    border-radius: 4px;
    width:auto;
    height: auto;
    max-width: 20rem;
    max-height: 20rem;
    
}