@font-face {
    font-family: "Comfortaa";
    font-display: fallback;
    src: url("./Comfortaa-Regular.eot?iefix") format("embedded-opentype");

    font-style: normal;
}

@font-face {
    font-family: "MrDafoe";
    font-display: fallback;
    src: url("./MrDafoe-Regular.ttf") format("truetype");

    font-style: normal;
}