

.navbar2 {
    background: linear-gradient(90deg, #020202 0%, #000000 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }
  
  .navbar-logo2{
    color: #fff;
    justify-self: start;
    margin-left: 100px;
    cursor:default;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-align: end;
  }
  .navbar-logo-icon2 {
    color: #fff;
    justify-self: start;
    margin-right: 10px;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    
  }
  
  .nav-menu2 {
    
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item2 {
    height: 90px;
  }
  
  .nav-links2 {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 2.5rem;
    height: 100%;
    margin-right: 20px;
  }
  
 
  .fa-bars2 {
    color: #fff;
  }
  
  .menu-icon2 {
    display: none;
  }
  .nav-links2:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
    background-color: #fff;
    color: #000000;
    height: 36px;
    margin-top: 30px;
    border-radius: 100px;
  }
  
  .nav-links-mobile2 {
    display: block;
    text-align: center;
    margin: 20px auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.0rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }
  .nav-links-mobile2:hover {
    display: block;
    text-align: center;
    margin: 20px auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.0rem;
    background-color: #fff;
    color: #000000;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .navbar-logo2 {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    transform: translate(25%, 80%);
  }

  .text2{
    display: block;
    width: 50rem;
    height: 20rem;
    font-size: 5rem;

  }
  @media screen and (max-width: 950px) {
    .NavbarItems2 {
      position: relative;
    }
  
    .nav-menu2 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 60px;
      left: -900%;
      opacity: 1;
      transition: all 0.5s ease;
      justify-content: center;
    }
    .menu-close2{
        color: #fff;
     
    }
    .menu-open2 {
        color: #fff;
    }
  
    .nav-menu.active2 {
      background: #000000;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 2;
    }
  
 
    .navbar-logo2 {
      position: absolute;
      size: 20px;
      color: #fff;
      top: 0;
      left: 0;
      transform: translate(25%, 80%);
    }
  
    .menu-icon2 {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times2 {
      color: #fff;
      font-size: 2rem;
    }

    .nav-links2 {
        text-align: center;
        margin-top: 25px;
        width: 100%;
        display:block;
        height: auto;
        padding: 1rem;
     
      }
    
      .nav-links2:hover {
        background-color: #fff;
        color: #000000;
        border-radius: 0;
      }
    
    .nav-links-mobile2 {
      display: block;
        position: relative;
      
        top: 10px;
      text-align: center;  
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.2rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile2:hover {
      background: #fff;
      color: #000000;
      transition: 250ms;
    }
  }

