.StoryContent{
    
    width: 100%;
    height: 100%-80px;
    object-fit: cover;
}

.albumWrap{
    position: absolute;
    left: 5%;
    width:90%;
    height: 80%;
}

.albumList{
    position:relative;
    top: 10%;
    
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    object-position: center;
    background-color: aquamarine;
}


.albumList::-webkit-scrollbar-button{
    visibility: hidden;
}

.albumList::-webkit-scrollbar{
    visibility: hidden;
    
}

.albumList::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 100px;
    height: 2rem;
    width: 2rem;

}

.cardWrap{
    position:absolute;
    left: 2.5%;
    width: 95%;
    height: 100%;
}

.visibleMessage{
    width: 100%;
    height: 2rem;
    color: black;
    font-size: 2rem;
    font-weight: 500px;
    z-index: 90;
}



.hiddenMessage{
    visibility: hidden;
    width: 0;
    height: 0;
    display: none;
}


.card{

    position: relative;
    display: inline-block;
    z-index: 100;
    margin: 1%;
    width: 31%;
    height: 60%;
    background-color: bisque;
    color: black;
    font-size: 15px;
    font-weight: 300px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.card div{
    position: absolute;
    left: 10%;
    bottom: 5%;
    transform: translate(0,10%);
}

.card img{
    position:absolute;
    display: block;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 75%;
    border-radius: 10px;
    

}