.UploadContent{
    
    
    width: 100%;
    height: 100%;
    
}

.backgroundImg{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.UploadContentWrap {

    position: absolute;
    height:58%;
    width: 120vh;
    left: 50%;
    bottom: 45%;
    transform: translate(-50%, 50%);
    display: flex;
    object-position: center;
    align-items: center;
    justify-items: center;
    border: 10px solid rgba(255, 255, 255, 0.74);
    border-radius: 8px;
    z-index: 0;
}


.UploadContent h2 {
    position: absolute;
    top:1vh;
    left: 50%;
    width: 26.5rem;
    height: 2rem;
    color: #fff;
    transform: translate(-50%);
    font-size: 3rem;
    font-weight: 500px;
    z-index: 3;
    cursor: default;
}

.uploadInnerWrap {
position: absolute;
display: block;
left: 50%;
top:30px;
transform: translate(-50%);
width: 100%;
height: 30rem;
z-index: 3;
}

.headWrap{
   position: absolute;
    display: inline-block;
    width: 120vh;
    height: 3rem;
    
   
}

hr {
    position: absolute;
    margin-top: 60px;
    width: 100%;
    color: rgba(255, 255, 255, 0.74);
    border-top: 4px solid rgba(255, 255, 255, 0.74);
    
}

.titleWrap{
    display: inline-block;
    width: 40vh;
    height: 5vh;
    padding-top: 10px;
    margin-left: 5rem;

}

.inputTitle{

    display: inline-block;
    left: 50%;    
    width: 10rem;
    height: 2rem;
    margin-left: 5px;
    margin-right: 5px;
}

.inputTitle::placeholder{
    color: rgba(95, 95, 95, 0.726);
}

.text1{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 15px;
    color: #fff;
    margin-left: 1rem;
    margin-right: 5px;
    cursor: default;
}

.dateWrap{
    display: inline-block;
    width: 40vh;
    height: 5vh;
    padding-top: 10px;
}


.inputDate {
    display: inline-block;
    left: 50%;    
    width: 10.19rem;
    height: 2.125rem;
    margin-left: 5px;
    
}

.text2{
    display: inline-block;
    font-size: 15px;
    width: 2rem;
    height: 2rem;
    color: #fff;
    margin-left: 2rem;
    margin-right: 5px;
    cursor: default;
}

.fileUploadArea{
position: absolute;
left: 25%;
bottom: 75px;
width: 40%;
height: 65%;
transform: translate(-50%);
transition: 2s;

}

.fileUploadAreaBasic{
    position: absolute;
    left: 50%;
    bottom: 75px;
    width: 80%;
    height: 65%;
    transform: translate(-50%);
    }

.fileLable{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 10, 105, 0.596);
    border: 2px solid #fff;
    color:#fff;
    cursor: pointer;
}



.fileLable div{
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}


.fileListWrap{
    position: absolute;
    align-items: center; 
    width: 40%;
    height: 65%;
    left: 75%;
    bottom: 74px;
    opacity: 1;
    overflow-y: auto;
    transform: translate(-50%);
    transition: 2s;
}

.fileListWrap::-webkit-scrollbar{

   
    border-radius: 10px;
}

.fileListWrap::-webkit-scrollbar-track{
    background-color:  rgba(167, 93, 207, 0.822);
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px #fff;
}


.fileListWrap::-webkit-scrollbar-thumb{
    background-color: rgba(76, 24, 105, 0.822);
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px rgb(124, 121, 121);
}




.fileListWrapBasic{
    position: absolute;
    align-items: center; 
    width: 0;
    height: 0;
    left: 75%;
    bottom: 20px;
    opacity: 0;
    transform: translate(-50%);
}

#fileList {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    
}

.fileitem{

    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 2rem;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(119, 5, 134, 0.712);
    display: block;
    color: #fff;
    border-bottom: 1px solid #fff;

}





.uploadButton{
    position: absolute;
    left: 35%;
    bottom: -10px;
    width: 8rem;
    height: 2.5rem;
    border-radius: 4px;
    color: #fff;
    
    border: 1px solid #fff;
    background-color: rgba(119, 5, 134, 0.712);
    cursor: pointer;
}

.cancleButton{
    position: absolute;
    left: 55%;
    bottom: -10px;
    width: 8rem;
    height: 2.5rem;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #fff;
    background-color: rgba(119, 5, 134, 0.712);
    cursor: pointer;
}